<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Country</key>
	<array>
		<string>India</string>
		<string>Africa</string>
		<string>Australia</string>
		<string>Italy</string>
		<string>China</string>
		<string>Japan</string>
		<string>Singapore</string>
		<string>New Zealand</string>
		<string>Spain</string>
		<string>Dubai</string>
	</array>
</dict>
</plist>
